---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import astromediaImg from "../assets/images/resume/astromedia.png";
import graduatedImg from "../assets/images/resume/graduated.jpeg";
import mimomaxImg from "../assets/images/resume/mimomax.jpeg";
import FNZImg from "../assets/images/resume/FNZ.jpeg";

const timeline = [
  {
    name: "FNZ (Technology Solutions Graduate)",
    date: "2024",
    description:
      "As part of FNZ's 45-week Graduate Programme, I gained hands-on experience in Analyst Tester, Analyst Developer, and Production Support roles, while undergoing intensive training in C#, .NET, SQL, and React to understand FNZ's software development processes. Alongside learning software testing methodologies using SQL, Confluence, and Jira, I collaborate with global teams, contribute to platform improvements, and actively participate in managing FNZ Culture Club events.",
    image: FNZImg,
    altText: "Round the Bays 2025 w/ the FNZ Culture Club",
  },
  {
    name: "Graduated from the University of Auckland",
    date: "2024",
    description:
      "Bachelor of Engineering (First Class Honours) in Software Engineering.",
    image: graduatedImg,
    altText: "Graduation photo of me w/ my brother.",
  },
  {
    name: "The start of Astro Media",
    date: "2023",
    description:
      "Offering neighbourhood web design services with a friend, I co-founded Astro Media to address the lack of quality websites in our area. We noticed many small businesses using outdated, slow, and confusing websites. Our mission is to deliver custom, beautiful, and affordable websites for local businesses.",
    image: astromediaImg,
    altText: "My partner and I with a client",
  },
  {
    name: "Ubiik Mimomax (Embedded Software Engineer Intern)",
    date: "2022/23",
    description:
      "During my time at Ubiik Mimomax, I upgraded the outdated NTP client, designed the CLI and CCMS, and learned about remote login, NTP, cryptography, and cross-compilation. I used BASH and PHP for backend tasks, added the NTP client to the radio's build script, and managed releases. Continuous use of GIT involved merge requests, code reviews, and a two-tier branching strategy. Key skills gained include version control, Docker, daily stand-ups, and thorough documentation.",
    image: mimomaxImg,
    altText: "A day at the office",
  },
];
---

<Layout title="Resume">
  <div class="mx-auto flex flex-col gap-8 px-2">
    <section class="max-w-screen-sm mx-auto w-full flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">My Resume</h1>
        <div class="h-1 bg-primary"></div>
      </div>
    </section>
    <section class="flex flex-col max-w-screen-lg mx-auto gap-8">
      <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
      >
        {
          timeline.map((event, index) => (
            <>
              <li>
                <div class="timeline-middle">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="h-5 w-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div
                  class={`timeline-${index % 2 == 0 ? "start md:text-end" : "end"} mb-10`}
                >
                  <time class="font-mono italic">{event.date}</time>
                  <div class="text-lg font-black">{event.name}</div>
                  {event.description}
                  {event.image && (
                    <div
                      class={`mt-4 flex flex-col gap-1 ${index % 2 == 0 ? "md:items-end" : ""}`}
                    >
                      <Image
                        src={event.image}
                        alt={event.name}
                        class="w-full object-cover"
                      />
                      <h4 class="italic text-xs font-light">{event.altText}</h4>
                    </div>
                  )}
                </div>
                <hr />
              </li>
            </>
          ))
        }
      </ul>
      <a
        href="/resume.pdf"
        download
        class="btn btn-secondary mx-auto btn-sm text-white"
        >Download my full resume</a
      >
    </section>
  </div>
</Layout>
