---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import savanteDesignImg from "../../assets/images/portfolio/savante-design/screenshot.png";
import victorianBaliSpasImg from "../../assets/images/portfolio/victorian-bali-spas/screenshot.png";
import hiddenGemsLostLandscapesImg from "../../assets/images/portfolio/hidden-gems-lost-landscapes/screenshot.png";

const projects = [
  {
    name: "Victorian Bali Spas",
    image: victorianBaliSpasImg,
    url: "/portfolio/victorian-bali-spas",
    stack: [
      "skill-icons:astro",
      "skill-icons:react-light",
      "skill-icons:tailwindcss-light",
      "logos:greensock-icon",
    ],
  },
  {
    name: "Savante Design",
    image: savanteDesignImg,
    url: "/portfolio/savante-design",
    stack: [
      "skill-icons:astro",
      "skill-icons:react-light",
      "skill-icons:tailwindcss-light",
      "logos:greensock-icon",
    ],
  },
  {
    name: "Hidden Gems Lost Landscapes",
    image: hiddenGemsLostLandscapesImg,
    url: "/portfolio/hidden-gems-lost-landscapes",
    stack: [
      "skill-icons:astro",
      "skill-icons:react-light",
      "skill-icons:tailwindcss-light",
    ],
  },
];
---

<Layout title="portfolio">
  <div class="max-w-screen-sm mx-auto flex flex-col gap-8 px-2">
    <section class="flex flex-col gap-4">
      <div class="w-fit">
        <h1 class="text-4xl w-fit font-pacifico">My Portfolio</h1>
        <div class="h-1 bg-primary"></div>
      </div>
    </section>
    <section class="flex flex-col gap-8">
      {
        projects.map((project, index) => (
          <div class="flex flex-col bg-rose-200 rounded-2xl">
            <a
              href={project.url}
              class="flex flex-col gap-1 relative group overflow-hidden rounded-t-lg "
            >
              <Image
                src={project.image}
                alt={project.name}
                class="md:group-hover:scale-100 md:scale-125 transition"
              />
              <div class="bg-black absolute top-0 left-0 right-0 bottom-0 md:group-hover:opacity-30 opacity-0 transition" />
              <h1 class="absolute top-1/2 text-black font-bold font-pacifico duration-500 bg-rose-200 p-4 text-4xl left-1/2 -translate-x-1/2 text-center -translate-y-1/2 opacity-0 md:group-hover:opacity-100">
                {project.name}
              </h1>
              <h1
                class={`md:hidden font-pacifico underline ${index % 2 == 0 ? "self-start" : "self-end"}`}
              >
                {project.name}
              </h1>
            </a>
            <div class="flex gap-2 items-center justify-end p-2">
              {project.stack.map((tech) => (
                <div
                  class="tooltip"
                  data-tip={tech.split(":")[1].replace(/icon|-|light/g, "")}
                >
                  <Icon name={tech} class="text-2xl" />
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </section>
  </div>
</Layout>
